/******************************************************************************
START Glitch hello-app default styles

The styles in this section do some minimal CSS resets, set default fonts and 
colors, and handle the layout for our footer and "Remix on Glitch" button. If
you're new to CSS they may seem a little complicated, but you can scroll down
to this section's matching END comment to see page-specific styles.
******************************************************************************/
/* Our default values set as CSS variables */
:root {
  --cor-padrao: linear-gradient(45deg, cyan, purple);
  --color-text-main: #000000;
  --color-primary: #FFFF00;
  --wrapper-altura: 87vh;
  --image-max-largura: 400px;
  --image-margin: 1rem;
  --font-principal: "Arial";
  --font-family-cabecalho: "Arial";
  --max-largura: 144px;
  --max-altura: 544px;
  --max-peso: 500;
  --font-tamanho: 15px;
  --font-tamanho-cabecalho: 20px;
  --fundo-padrao: white;
  --negrito: bold;
  --espaco-em-branco: nowrap;
  --X: 0px;
  --Y: 390px;
 
  --height: "altuta";
  --Weight: "peso";
  --width: "largura";
  --white-space: "espaco em branco";   
}

/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

/* Import fonts */
@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}

/* Our remix on glitch button */
.btn--remix img {
  margin-right: 0.5rem;
}
      .btnenviar{
        background-color: purple;
        border: none;
        padding: 15px;
        width: 100%;
        border-radius: 15px;
        color: white;
        font-size: 15px;
}
      .btnenviar:hover{
        background-color: green;
        cursor: pointer;
        }
      .btnvoltar{
        background-color: white;
        left:100%;
        border: 5px solid black;
        padding: 15px;
        width: 100%;
        border-radius: 15px;
        color: white;
        font-size: 15px;
}
      .btnvoltar:hover{
        background-color: green;
        cursor: pointer;
        }
.divider {
  padding: 0 1rem;
}
/******************************************************************************
END Glitch hello-app default styles
******************************************************************************/

body{
      font-family: Arial, helvetica, sans-serif;
       background-image: linear-gradient(45deg, cyan, purple);
       width: 100%;
     }
/* Page structure */
.wrapper {
  min-height: var(--wrapper-altura);
  display: grid;
  place-items: center;
  margin: 0 1rem;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
}
/* Instructions */
      .instructions{
        margin: 1rem auto 0;
}
/* Very light scaling for our illustration */
.title {
  color: #2800FF;
  font-family: var(--font-tamanho-cabecalho);
  font-style: normal;
  font-weight: var(--negrito);
  font-size: 100px;
  line-height: 105%;
  margin: 0;
}

/* Very light scaling for our illustration */
.illustration {
  max-width: 100%;
  max-height: var(--image-max-width);
  margin-top: var(--image-margin);
}

/* Button - Add it from the README instructions */
button,
input {
  font-family: inherit;
  font-size: 100%;
  background: #FFFFFF;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  transition: 500ms;
  border: 3px solid black;
  
}
/* Subheading */
h2 {
  color: #2800FF;
}

/* Interactive image */
.illustration:active {
  transform: translateY(5px);
}

/* Button dip
- Toggling this class on and off will move it down and up again
- The button transition property above determines the speed of the translate (500ms)
*/
.dipped {
  transform: translateY(5px);
}
        p,
label {
  font-size: 1.25rem;
}

/* Title h1 style */
h1 {
  color: #2800FF;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 105%;
  margin: 2rem 0 0;
}

/* Very light scaling for our illustration */
.illo-container {
  display: flex;
  justify-content: flex-end;
}

/* Styles for our poll form and its results */
.poll-form,
.poll-results {
  background-color: #FFF3FC;
  padding: 0 16px 16px 16px;
  border-radius: 8px;
}
.poll-form button:hover {
  cursor: pointer;
  box-shadow: -8px 4px 20px var(--color-primary);
}
label {
  color: #000000;
  font-weight: bold;
}

/* Instructions */
.instructions p {
  font-size: 1rem;
}

/* Admin page */
table {
  text-align: left;
  border-collapse: collapse;
  background-color: #FFF3FC;
}
td,
th {
  border: 2px solid #FFFFFF;
  padding: 0.5rem;
}
p a {
  text-decoration: none;
  font-weight: bold;
}
p.error,
p.error a:link,
p.error a:visited {
  color: #2800FF;
}
.results {
  padding-top:10px;
}

.footer {
  background-color: silver;
  display: flex;
  justify-content: space-between;
  margin: 7rem 0rem 0rem;
  padding: 10px;
  width: 100%;
  border: 4px solid gray;
}

.footer .links {
  padding: 5rem -1rem ;
}